<p>approve questions in the console for now</p>
<p>to do so, just go to the question q = Question.find(id_number)</p>
<p>q.approved = true</p>
<p>q.save</p>

<% if current_user %>
	<% @questions.each do |question| %>
		<% if question.approved == false %>
		<div>
			Title: <%= question.title %><br>
			Description: <%= question.description %><br>
			By: <%= question.user.name %><br>
			<%= link_to "Approve", question_path(question), :method => :put %> (not working currently)
		</div>
		<br>
		<% end %>
	<% end %>
<% end %>

