<% current_user.questions.order(id: :desc).each do |question| %>
	<!-- current_user.questions.include(answers: user) do |question| -->
	<% if question.approved %>
		Your question, <%= link_to "#{question.title}", question_path(question) %>, has been <span class="notifications">approved.</span><br>
	<% end %>

	<% question.answers.each do |answer| %>
		<%= answer.user.name %> <span class="notifications">added an answer</span> to your question, <%= link_to "#{question.title}", question_path(question) %>.<br>
	<% end %>
<% end %>