<div>
	<% if current_user %>
		<div class="notifications-added col-md-8">
			<h4 class="col-md-offset-2">Approvals &amp; Answers</h4>
			<span class="text-center">
				<%= render 'approved' %>
			</span>
		</div>
	
		<div class="notifications-voted col-md-4">
			<h4 class="text-center">Votes</h4><span></span>
			<%= render 'upvoted' %>		
		</div>	
	<% end %>
</div>