
	<div class="text-center">
		<%= link_to "Sign in with Twitter", "/auth/twitter", class: "fa fa-twitter btn btn-lg btn-twitter" %><br>
	  <%= link_to "Sign in with Github", "/auth/github", class: "btn btn-lg btn-github" %>
	</div>