
	<div class="text-center login-buttons">
		<i class="fa fa-twitter"></i><%= link_to "Sign in with Twitter", "/auth/twitter", class: "btn btn-lg btn-twitter" %><br>
	  <%= link_to "Sign in with Github", "/auth/github", class: "btn btn-lg btn-github" %>
	</div>

	