/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */


 #search-box{
 	margin: 10px;
 }

 .search-bar {
  padding:8px 15px;
  border:1px solid #dbdbdb;
  border-radius: 5px;
  width: 217px;
}

.search-button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border:2px solid #4cae4c;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #5cb85c;
  color: #fff;
  height: 38px;
}

.all-questions {
  margin-top: 70px;
}
