/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

th {
	font-weight: bold;
	/*font-family: 'Nunito', sans-serif;*/
}

.leaderboard-user-name,
.leaderboard-user-score,
.leaderboard-user-rank
{
	font-family: 'Nunito', sans-serif;
	text-transform: lowercase;
}
