// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications{
	font-size: 15px; 
	font-weight: bold;
}

.votes-and-approvals{
  margin-top: 10px;
}

.overall-status{
  margin-bottom: 10px;
}
