
/*******************************
*******FIELDS & CONTAINERS******
********************************/
.answers-container {
  /*display: none;*/
  /*margin-top: */
}

#search-bar{
  text-align: right;
  
}

.random{
  color: #fff;
  background-color: red;
}

#input{
  color: green;
}

.list-title{
  margin-top: 25px;
}

.all-questions{
  margin: 0 auto;
  background-color: #fff;
}

.created-at{
  /*font-style: italic;*/
  font-weight: bold;
}

#question-container{
  max-width: 600px; 
  margin: 0 auto;
}

.answer-description{
  width: 514px;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 14px;
  text-align: left;
  padding-right: 14px;
}

#question_tag_list {
  width: 201px;
}

.tweet {
  margin-top: 8px;
  margin-left: 50px;
}

/*******************************
**************DIVS**************
********************************/

.tags-excluded{
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #d3d3d3;
  padding: 20px;
  max-width: 45%;
}

.just-tags{
  padding-bottom: 15px;
}

.question-description{
  color: black;
  font-size: 20px;
  padding: 0 15px;
}

.new-question-button{
  padding: 10px;
}

.glyphicon-ban-circle{
  color: red;
}

.glyphicon-plus-sign{
  color: #5cb85c;
}

/*******************************
************TITLES**************
********************************/

.question-title {
  border-style: none;
  margin-bottom: 0.8px;
  font-size: 24px;
  margin-top: 21px;
}

.nav-menu {
  float: right;
  margin-right: 50px;
  margin-top: 3%;
}

/*******************************
************Up/Downvote*********
********************************/

.answer-votes{
  display: inline;
}

.list-item{
  display: inline;
  list-style: none;
}


#notice {
  text-align: center;
  padding-left: 19px;
  float: left;
}


#answer_description {
  height: 206px;
  width: 500px;
}

.markdown {
  font-size: 12px;
}

.markdown-new {
  padding-left: 12px;
}
/*******************************
************Forms***************
********************************/

.field{
  margin: 10px;
}

.created-at {
  /*border-top: 1px solid #000;*/
  border-color: #d3d3d3;
  padding-bottom: 2px;
  font-size: 12px;
  color: #D2D7D3;
}

#question_description {
  height: 156px;
  width: 342px;
}
.answer-content {
  text-align:left; 
  padding:5px;
}
.answer-thumb {
  margin: 0%;
}

.answer-content p{
  margin: 0%;
  display: inline;
}

.glyphicon-arrow-down {
  padding-left: 2px;
  color: #000;
}

.glyphicon-arrow-up {
  color: #000;
}

.glyphicon-arrow-down:hover {
  color: #f00;
}

.glyphicon-arrow-up:hover {
  color: #5cb85c;
}

.question-title {
  font-weight: bold;
}

.modal-warning{
  padding: 5px;
}