/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*******************************
************IMAGES**************
********************************/

#logo{
	float: left;
	margin-top: 3%;
}

/*******************************
*******FIELDS & CONTAINERS******
********************************/
.answers-container {
  display: none;
  margin-top: 
}

#search-bar{
	text-align: right;
	width: ;
}

.random{
	color: #fff;
	background-color: red;
}

#input{
	color: green;
}

.list-title{
	margin-top: 25px;
}

.all-questions{
	margin: 0 auto;
	margin-top: 50px;
	
}

#question_tag_list {
	width: 190px;
}

.tweet {
	margin-top: 8px;
	margin-left: 50px;
}

/*******************************
**************DIVS**************
********************************/

.tags-excluded{
	margin: 0 auto;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	padding: 20px;
	max-width: 45%;
}

.just-tags{
	padding-bottom: 15px;
}

.question-description{
	color: black;
}

.new-question-button{
	padding: 10px;
}

.glyphicon-ban-circle{
	color: red;
}

.glyphicon-plus-sign{
	color: #5cb85c;
}

/*******************************
************TITLES**************
********************************/

.question-title{
	border-style: none;
	margin-bottom: 0.8px;
}

.nav-menu{
	float: right;
	margin-right: 50px;
	margin-top: 3%;
}

#notice {
	text-align: center;
	padding-left: 19px;
	float: left;
}