/*******************************
*******LOGIN CONTAINER**********
********************************/

html, .splash, body {
    margin: 0;
    height: 100%;
}

.social-login{
  margin-top: 20%;
  background-color: #fff;
  max-width: 400px;
  max-height: 400px;
}

.login-buttons {
  padding-bottom: 10px;
}

.btn-social {
  width: 244px;
  height: 45px;
}

.welcome-container {
  width: 992px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  max-width: 100%;
}

.splash {
  background: #68aded;
  background: -moz-linear-gradient(top, #68aded 24%, #3b8ce8 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(24%, #68aded), color-stop(100%, #3b8ce8));
  background: -webkit-linear-gradient(top, #68aded 24%, #3b8ce8 100%);
  background: -o-linear-gradient(top, #68aded 24%, #3b8ce8 100%);
  background: -ms-linear-gradient(top, #68aded 24%, #3b8ce8 100%);
  background: linear-gradient(to bottom, #68aded 24%, #3b8ce8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68aded', endColorstr='#3b8ce8', GradientType=0 );
  background-repeat: no-repeat;
}

.dictionary-image {
  width: 700px;
}

#dictionary {
  height: 90px;
  display: inline-block;
  padding: 15px;
  margin-left: 118px;
}

#white-logo {
  text-align: center;
  margin-top: 200px;
  max-width: 100%;
  max-height: 100%;
}

.home-links {
  color: #fff;
  font-size: 15px;
}

.home-links:visited {
  color: #fff;
}

.home-links:hover {
  color: #fff;
}

img {
  max-width: 100%;
}

@media only screen and (min-device-width : 400px) {
  #dictionary {
    margin-left: 0px;
  }
}